<?php

$title = (!${{ singularVar }}->isNew()) ? __d('admin','Modify {{ singularHumanName }}') . ' #' . ${{ singularVar }}->id : __d('admin','New {{ singularHumanName }}');

$this->Breadcrumbs->add([
	[
		'title' => __d('admin', '{{pluralVar|capitalize}}'),
		'url' => ['controller' => '{{pluralVar}}', 'action' => 'index']
	],

	[
		'title' => $title
	]
]);

?>

<h1><?= $title; ?></h1>

<?= $this->Element('../{{pluralHumanName}}/form{{pluralHumanName}}'); ?>