<?= $this->Form->create(${{ singularVar }}) ?>
<p class="text-right form__submit-container"><?= $this->Form->button(__d('admin','Sauvegarder'), ['class' => 'btn-lg']); ?></p>
<fieldset class="form__container form-group">
	
	
	<?php
{% for field in fields if field not in primaryKey %}
    {%- if keyFields[field] %}
        {%- set fieldData = Bake.columnData(field, schema) %}
        {%- if fieldData.null %}
            echo $this->Form->control('{{ field }}', [
				'label' => __d('admin','{{field|humanize}}')
				'options' => ${{ keyFields[field] }}, 
				'empty' => true
				]);
            {{- "\n" }}
        {%- else %}
            echo $this->Form->control('{{ field }}', [
				'label' => __d('admin','{{field|humanize}}')
				'options' => ${{ keyFields[field] }}
				]);
            {{- "\n" }}
        {%- endif %}
    {%- elseif field not in ['created', 'modified', 'updated'] %}
        {%- set fieldData = Bake.columnData(field, schema) %}
        {%- if fieldData.type in ['date', 'datetime', 'time'] and fieldData.null %}
            echo $this->Form->control('{{ field }}', [
				'type' => 'datepicker',
				'empty' => true
				]);
            {{- "\n" }}
        {%- else %}
            echo $this->Form->control('{{ field }}',[
				'label' => __d('admin','{{field|humanize}}')
			]);
    {{- "\n" }}
        {%- endif %}
    {%- endif %}
{%- endfor %}

{%- if associations.BelongsToMany %}
    {%- for assocName, assocData in associations.BelongsToMany %}
            echo $this->Form->control('{{ assocData.property }}._ids', ['options' => ${{ assocData.variable }}]);
    {{- "\n" }}
    {%- endfor %}
{% endif %}
        ?>
</fieldset>

<?= $this->Form->end(); ?>