<h1><?= (!${{ singularVar }}->isNew()) ? __('Modifier {{ singularHumanName }}') . ' #' . ${{ singularVar }}->id : __('Ajouter un {{ singularHumanName }}'); ?></h1>
<?= $this->Form->create(${{ singularVar }}) ?>
<fieldset class="form__container form-group">
	<legend><?= __('{{ action|humanize }} {{ singularHumanName }}'); ?></legend>
	
	<?php
{% for field in fields if field not in primaryKey %}
    {%- if keyFields[field] %}
        {%- set fieldData = Bake.columnData(field, schema) %}
        {%- if fieldData.null %}
            echo $this->Form->control('{{ field }}', ['options' => ${{ keyFields[field] }}, 'empty' => true]);
            {{- "\n" }}
        {%- else %}
            echo $this->Form->control('{{ field }}', ['options' => ${{ keyFields[field] }}]);
            {{- "\n" }}
        {%- endif %}
    {%- elseif field not in ['created', 'modified', 'updated'] %}
        {%- set fieldData = Bake.columnData(field, schema) %}
        {%- if fieldData.type in ['date', 'datetime', 'time'] and fieldData.null %}
            echo $this->Form->control('{{ field }}', ['empty' => true]);
            {{- "\n" }}
        {%- else %}
            echo $this->Form->control('{{ field }}');
    {{- "\n" }}
        {%- endif %}
    {%- endif %}
{%- endfor %}

{%- if associations.BelongsToMany %}
    {%- for assocName, assocData in associations.BelongsToMany %}
            echo $this->Form->control('{{ assocData.property }}._ids', ['options' => ${{ assocData.variable }}]);
    {{- "\n" }}
    {%- endfor %}
{% endif %}
        ?>
</fieldset>
<p><?= $this->Form->button(__('Save'), ['class' => 'btn-lg']); ?></p>
<?= $this->Form->end(); ?>